=stylesheet_link_tag "sign_in"
=render 'navbar'

%h1 Sign-In


.div1
  %div
  = label :user, :user_name, 'User Name'
  .user-field
  = text_field :user, 'user name'

  %div
  = label :user, :password, "Password"
  .password-field
  = text_field :user, 'password'

  %div
  = link_to "Register", register_page_path
  %div
  = button_to invalid_user_page_path, :method => :get do
    %b Sign-In

=link_to "Back to Home", index_page_path
